{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Peoples list" %}{% endblock %}
{% load thumbnail %}
{% load relationship_tags follow_tags %}

{% block main %}

<div class="row topHalfGutter color5D">
    <div class="span7">
    {% for friend in friends.voters %}
        <div class="row vendorResult bottomHalfGutter{% if forloop.first %} topHalfGutter{% endif %}">
            {% include 'generic/includes/render_owner.html' with owner=friend %}
            {% if friend != request.user %}
                <div class="span1 noGutter">
                    {% include 'actstream/render_actor_name.html' with actor=friend %}  
                </div>
                <div class="span1 halfGutter">
                    <span id="vendorFollowContainer" class="vendorFollowContainer pagination-centered {% if_relationship request.user friend "following" %} following {% endif_relationship %}" >
                        <button class="follow-btn makeYellowButton icon-follow" data-href="{{ friend|add_relationship_url:"following" }}">{% trans "Follow" %}</button>
                        <button class="icon-following makeYellowButton radioColor" ><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">{% trans "Following" %}</button>
                        <button class="unfollow-btn makeYellowButton icon-unfollow radioColor" data-href="{{ friend|remove_relationship_url:"following" }}"><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">{% trans "Unfollow" %}</button>
                    </span>
                </div>
            {% else %}
                <div class="span2 noGutter">
                    {% include 'actstream/render_actor_name.html' with actor=friend %}  
                </div>
            {% endif %}
        </div>
        {% empty %}
        <div class="row vendorResult">
            <div class="span2">
                {% trans "No contacts to list" %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
